.container {
    height: auto;
    margin: 5rem auto;
    background-color: #00000060;
    color: #ffffff;
    border: 0.1rem solid #ffffff;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 20px;
}

.img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
