<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% load static %}
    <link rel="preload" href="{% static 'css/style.css' %}" as="style">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Space Missions</title>
    {% load static %}
    <link rel="preload" href="{% static 'css/normalize.css' %}" as="style">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    <script type="module" src="{% static 'js/fetchCurrentPosition.js' %}"></script>
</head>

<body>
    <video
        src="https://assets.mixkit.co/videos/preview/mixkit-video-of-the-earth-slowly-spinning-on-its-axis-29351-large.mp4"
        autoplay="true" muted="true" loop="true"></video>
    <header>
        <h1 class="Titulo">
            Bienvenido a Space Missions,
            {% if user.is_authenticated %}
                <span style="color: teal;">
                    {{user.username}}
                </span>
                
            {% endif %}
        </h1>

    </header>

    <div class="Menu">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/missions"">Misiones</a></li><!--/-->
                
                {% if user.is_authenticated %}
                <li><a href="/missions/create"">Crear una Misión</a></li><!--/-->
                <li><a href="/logout">Cerrar Sesión</a></li><!--Manuel-->
                

                {% else %}
                <li><a href="/login">Iniciar Sesión</a></li><!--Luis-->
                <li><a href="/signup">Registrarse</a></li><!--Manuel-->

                {% endif %}
                
                <li><a href="/contacto"">Contacto</a></li><!--Abraham-->
            </ul>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>