{% extends 'base.html' %}

{% block content %}
    <h1>Sign Up</h1>
    {{error}}
    <form action="/signup/" method="POST">
        {% csrf_token %}
        <label for="username">Usuario</label>
        <input type="text" name="username" for="username" required>
        <label for="password1">Contraseña</label>
        <input type="password" name="password1" for="password1" required>
        <label for="password2">Repite la contraseña</label>
        <input type="password" name="password2" for="password2" required>
        <button>Ready</button>
    </form>
{% endblock %}
