.form-mision {
    max-width: 700px;
    width: 70%;
    height: auto;
    margin: 5rem auto;
    background-color: #00000060;
    color: #ffffff;
    border: 0.1rem solid #ffffff;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
    padding: 20px;
  }
  
  .form-control{
    color: #ffffff;
    background-color: #171717;
    outline: 0;
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgb(33 46 70 / 25%);
    transition-timing-function: ease-out;
    transition-duration: .5s;
    transition-property: all;
    caret-color: #ffffff;
    font-size: 12px;
  }
  
  .form-label{
    font-size: 18px;
  }
  
  .form-control::placeholder {
    color: #cacaca;
  }
  
  .form-control:focus {
    background-color: #171717;
    color: #ffffff;
    border-color: #237f9b;
    transition-duration: 1s;
  }
  
  .btn-sumbit{
      background-color:#AFD2DD;
    border-radius: 32px;
      color: black;
      transition-timing-function: ease-out;
      transition-duration: .5s;
      transition-property: all;
    padding: 10px 15px; 
    font-size: 14px;
  }
  
  .btn-sumbit:hover{
      background-color:#ffffff;
      border-color: #237f9b;
    border-radius: 32px;
      color: black;
      transition-duration: 1s;
  }
  
  .btn-exit{
      background-color:#ddafaf;
    border-radius: 32px;
      color: black;
      transition-timing-function: ease-out;
      transition-duration: .5s;
      transition-property: all;
    padding: 10px 15px;
    font-size: 14px;
  }
  
  .btn-exit:hover{
      background-color:#ffffff;
      border-color: #ff3737;
    border-radius: 32px;
      color: black;
      transition-duration: 1s;
  }
  
  .image-container {
    top: -70px;
    right: -50px;
    position: absolute;
    z-index: 1; 
  }
  
  #f-rocket {
    max-width: 180px; 
    width: 100%; 
    height: auto;
  }
  