.container-contacts {
    max-width: 80rem;
  }
  
  /*StyleViewer*/
  
  .container {
    position: relative;
    width: 70%;
    height: auto;
    margin: 5rem auto;
    background-color: black;
    border: 0.1rem solid #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }
  
  .custom-text {
    color: #57ff3d;
    font-family: "Courier New", monospace;
  }
  
  .rectangle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
  }
  
  .icon {
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translateY(0%);
    width: 50px;
    height: 50px;
  }
  
  /* Estilo del cursor personalizado (imagen de alien) */
  body {
    cursor: url('../icons/cursor_defualt.png'), auto;
  }
  
  a {
    cursor: url('../icons/cursor_hand.png'), auto;
  }