html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  position: relative;
  margin: 0;
  font-size: 1.6rem;
  /* 1 rem = 10 px*/
  font-family: 'Krub', sans-serif;
  /* Estilo del cursor personalizado (imagen de alien) */
  cursor: url('../img/icons/cursor_defualt.png'), auto;
  }
  a {
      cursor: url('../img/icons/cursor_hand.png'), auto;
}


header {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: .5rem;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  padding: 2rem;
}

footer {
  background-color: #282828a4;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: auto;
  bottom: 0%;
  width: 100%;
}

.titulo {
  font-size: x-large;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
}

.nav_Menu {
  display: flex;
  justify-content: center;
  top: 1.5rem;
  position: relative;
}

.nav_ul_Menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_li_Menu {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  /* Enlaces en color blanco */
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  /* Efecto de transparencia al pasar el mouse */
}

/* Media query para hacer el menú responsivo */
@media (max-width: 70.68rem) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 5rem 0;
  }
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.container-contacts {
  max-width: 80rem;
}

.title {
  font-size: 24px; 
  font-weight: bold;
}