html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  position: relative;
  margin: 0;
  font-size: 1.6rem;
  /* 1 rem = 10 px*/
  font-family: 'Krub', sans-serif;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: .5rem;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  padding: 2rem;
}

footer {
  background-color: #282828a4;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: auto;
  bottom: 0%;
  width: 100%;
}

.titulo {
  font-size: x-large;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
}

nav {
  display: flex;
  justify-content: center;
  top: 1.5rem;
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  /* Enlaces en color blanco */
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  /* Efecto de transparencia al pasar el mouse */
}

/* Media query para hacer el menú responsivo */
@media (max-width: 70.68rem) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 5rem 0;
  }
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.container-contacts {
  max-width: 80rem;
}

.form-mision {
  max-width: 700px;
  padding: 15px;
  background-color: #00000060;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 32px;
  position: relative;
  z-index: 2;
}

.form-control{
  color: #ffffff;
  background-color: #171717;
  outline: 0;
  border-color: #ffffff;
  box-shadow: 0 0 0 0.25rem rgb(33 46 70 / 25%);
  transition-timing-function: ease-out;
	transition-duration: .5s;
	transition-property: all;
  caret-color: #ffffff;
  font-size: 12px;
}

.form-label{
  font-size: 18px;
}

.form-control::placeholder {
  color: #cacaca;
}

.form-control:focus {
  background-color: #171717;
  color: #ffffff;
  border-color: #237f9b;
  transition-duration: 1s;
}

.btn-sumbit{
	background-color:#AFD2DD;
  border-radius: 32px;
	color: black;
	transition-timing-function: ease-out;
	transition-duration: .5s;
	transition-property: all;
  padding: 10px 15px; 
  font-size: 14px;
}

.btn-sumbit:hover{
	background-color:#ffffff;
	border-color: #237f9b;
  border-radius: 32px;
	color: black;
	transition-duration: 1s;
}

.btn-exit{
	background-color:#ddafaf;
  border-radius: 32px;
	color: black;
	transition-timing-function: ease-out;
	transition-duration: .5s;
	transition-property: all;
  padding: 10px 15px;
  font-size: 14px;
}

.btn-exit:hover{
	background-color:#ffffff;
	border-color: #ff3737;
  border-radius: 32px;
	color: black;
	transition-duration: 1s;
}

.image-container {
  top: -70px;
  right: -50px;
  position: absolute;
  z-index: 1; 
}

#f-rocket {
  max-width: 180px; 
  width: 100%; 
  height: auto;
}

.title {
  font-size: 24px; 
  font-weight: bold;
}
