[defaults]
inventory = inventory
host_key_checking = False  # Optional: removes the SSH prompt 
deprecation_warnings=False  # Optional: removes deprecation warning in playbooks
remote_user = dan-azure-test
private_key_file = space-missions-test_key_0816.pem 